<section class="about container" id="about">
  <h2 class="visually-hidden">About Me</h2>
  <div class="about-content">
    <div class="about-text">
      <p class="intro">
        I work with people all over the world to create impressive and
        <span class="highlight">functional</span>
        <span class="highlight-2">websites</span>
        that reflect each client's unique personality.
      </p>
    </div>
    <div class="about-image">
      <picture>
        <source
          srcset="
            ./img/about-me/image-1x-dex.webp 1x,
            ./img/about-me/image-2x-dex.webp 2x
          "
          media="(min-width:1440px)"
        />
        <source
          srcset="
            ./img/about-me/image-1x-lap.webp 1x,
            ./img/about-me/image-2x-lap.webp 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/about-me/image-1x-tel.webp 1x,
            ./img/about-me/image-2x-tel.webp 2x
          "
          media="(max-width:767px)"
        />
        <img
          src="./img/about-me/image-1x-tel.webp"
          alt="Photo of a web developer"
          class="about-me-img"
        />
      </picture>
    </div>
  </div>
  <ul class="accordion-container accordion-about">
    <li class="ac ac-about">
      <div class="ac-header ac-header-about">
        <div class="ac-trigger ac-trigger-wrapper">
          <h3 class="header-about">About me</h3>
          <button
            type="button"
            class="btn-about"
            aria-label="open and close button"
          >
            <svg class="about-icon-accordion" width="18" height="18">
              <use
                class="about-icon"
                href="/img/sprite.svg#icon-arrow-down"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="ac-panel ac-panel-about ac-panel-about-me">
        <p class="ac-text-about">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
        <p class="ac-text-about">
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </p>
      </div>
    </li>
    <li class="ac ac-about">
      <div class="ac-header ac-header-about">
        <div class="ac-trigger ac-trigger-wrapper">
          <h3 class="header-about">Role</h3>
          <button
            type="button"
            class="btn-about"
            aria-label="open and close button"
          >
            <svg class="about-icon-accordion" width="18" height="18">
              <use
                class="about-icon"
                href="/img/sprite.svg#icon-arrow-down"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="ac-panel ac-panel-about">
        <p class="ac-text-about">Frontend Developer <br /></p>
        <p class="ac-text-about">HeadlessCMS,Wordpress</p>
        <p class="ac-text-about">Blender(enjoy)</p>
      </div>
    </li>
    <li class="ac ac-about">
      <div class="ac-header ac-header-about">
        <div class="ac-trigger ac-trigger-wrapper">
          <h3 class="header-about">Education</h3>
          <button
            type="button"
            class="btn-about"
            aria-label="open and close button"
          >
            <svg class="about-icon-accordion" width="18" height="18">
              <use
                class="about-icon"
                href="/img/sprite.svg#icon-arrow-down"
              ></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="ac-panel ac-panel-about">
        <p class="ac-text-about">
          2018 - 2019 / Frontend Development Diploma, GoIT IT <br />
          School, New York
        </p>
        <p class="ac-text-about">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT <br />
          School, New York
        </p>
        <p class="ac-text-about">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </p>
      </div>
    </li>
  </ul>
  <div class="skills">
    <div class="swiper-container-about">
      <div class="swiper swiper-about">
        <ul class="swiper-wrapper swiper-wrapper-about">
          <li class="swiper-slide swiper-slide-about">HTML/CSS</li>
          <li class="swiper-slide swiper-slide-about">JavaScript</li>
          <li class="swiper-slide swiper-slide-about">React</li>
          <li class="swiper-slide swiper-slide-about">Node.js</li>
          <li class="swiper-slide swiper-slide-about">React Native</li>
          <li class="swiper-slide swiper-slide-about">TypeScript</li>
          <li class="swiper-slide swiper-slide-about">Soft Skills</li>
        </ul>
      </div>
    </div>
    <button type="button" class="swiper-button-next-about" aria-label="next slide">
      <svg class="about-icon-btn" width="28" height="28">
        <use class="about-icon" href="/img/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
