<section class="covers-section">
  <div class="covers container">
    <h2 class="visually-hidden">Covers</h2>

    <div class="content">
      <ul class="marquee">
        <li class="marquee__inner">
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-9.webp    1x,
                  ./img/covers/project-card/project-9@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-9.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-5.webp    1x,
                  ./img/covers/project-card/project-5@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-5.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-2.webp    1x,
                  ./img/covers/project-card/project-2@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-2.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-3.webp    1x,
                  ./img/covers/project-card/project-3@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-3.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-4.webp    1x,
                  ./img/covers/project-card/project-4@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-4.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-5.webp    1x,
                  ./img/covers/project-card/project-5@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-5.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-6.webp    1x,
                  ./img/covers/project-card/project-6@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-6.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-7.webp    1x,
                  ./img/covers/project-card/project-7@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-7.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-8.webp    1x,
                  ./img/covers/project-card/project-8@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-8.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-9.webp    1x,
                  ./img/covers/project-card/project-9@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-9.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="marquee__inner">
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-10.webp    1x,
                  ./img/covers/project-card/project-10@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-10.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-4.webp    1x,
                  ./img/covers/project-card/project-4@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-4.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-5.webp    1x,
                  ./img/covers/project-card/project-5@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-5.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-6.webp    1x,
                  ./img/covers/project-card/project-6@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-6.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-7.webp    1x,
                  ./img/covers/project-card/project-7@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-7.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-8.webp    1x,
                  ./img/covers/project-card/project-8@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-8.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-9.webp    1x,
                  ./img/covers/project-card/project-9@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-9.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-10.webp    1x,
                  ./img/covers/project-card/project-10@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-10.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-1.webp    1x,
                  ./img/covers/project-card/project-1@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-1.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-2.webp    1x,
                  ./img/covers/project-card/project-2@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-2.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="marquee__inner">
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-3.webp    1x,
                  ./img/covers/project-card/project-3@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-3.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-8.webp    1x,
                  ./img/covers/project-card/project-8@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-8.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-9.webp    1x,
                  ./img/covers/project-card/project-9@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-9.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-10.webp    1x,
                  ./img/covers/project-card/project-10@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-10.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-1.webp    1x,
                  ./img/covers/project-card/project-1@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-1.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-2.webp    1x,
                  ./img/covers/project-card/project-2@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-2.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-2.webp    1x,
                  ./img/covers/project-card/project-2@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-2.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-3.webp    1x,
                  ./img/covers/project-card/project-3@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-3.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-4.webp    1x,
                  ./img/covers/project-card/project-4@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-4.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-5.webp    1x,
                  ./img/covers/project-card/project-5@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-5.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="marquee__inner">
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-6.webp    1x,
                  ./img/covers/project-card/project-6@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-6.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-7.webp    1x,
                  ./img/covers/project-card/project-7@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-7.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-8.webp    1x,
                  ./img/covers/project-card/project-8@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-8.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-9.webp    1x,
                  ./img/covers/project-card/project-9@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-9.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-10.webp    1x,
                  ./img/covers/project-card/project-10@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-10.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-4.webp    1x,
                  ./img/covers/project-card/project-4@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-4.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-5.webp    1x,
                  ./img/covers/project-card/project-5@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-5.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-6.webp    1x,
                  ./img/covers/project-card/project-6@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-6.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-7.webp    1x,
                  ./img/covers/project-card/project-7@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-7.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
          <a href="https://goit.global/ua/" target="_blank">
            <picture class="covers-img marquee__line">
              <source
                media="(min-width:320px)"
                srcset="
                  ./img/covers/project-card/project-8.webp    1x,
                  ./img/covers/project-card/project-8@2x.webp 2x
                "
                type="image/webp"
              />

              <img
                class="cowers-img"
                src="./img/covers/project-card/project-8.webp"
                alt="project"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
