<section class="header-section container">
  <header class="header">
    <div class="header-container">
      <a href="#" class="logo">
        <div class="logo-image">
          <img
            src="img/header/logo-header-1x.webp"
            srcset="
              img/header/logo-header-1x.webp 1x,
              img/header/logo-header-2x.webp 2x
            "
            alt="man with a beard and glasses"
          />
        </div>
        <span class="logo-text">jefferson*</span>
      </a>

      <button class="menu-toggle" aria-label="Open menu" aria-expanded="false">
        <span class="menu-toggle-text">Menu</span>
        <svg class="menu-toggle-btn" width="28" height="28">
          <use class="menu-open-icon" href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="btn-order-container">
        <a href="#work-together" class="order-button desktop-order-button"
          >Order the project</a
        >
      </div>

      <!-- Меню для мобільних -->
      <div class="menu menu-mobile">
        <div class="menu-header">
          <span class="menu-title"></span>
          <button class="menu-close" aria-label="Close Menu">
            <svg class="menu-close-btn" width="28" height="28">
              <use class="menu-close-icon" href="/img/sprite.svg#icon-x"></use>
            </svg>
          </button>
        </div>

        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="#about" class="navigation-link">About me</a>
            </li>
            <li class="navigation-item">
              <a href="#benefits" class="navigation-link">Benefits</a>
            </li>
            <li class="navigation-item">
              <a href="#projects" class="navigation-link">Projects</a>
            </li>
            <li class="navigation-item">
              <a href="#faq" class="navigation-link">FAQ</a>
            </li>
          </ul>
        </nav>

        <a href="#work-together" class="order-button mobile-order-button"
          >Order the project</a
        >
      </div>

      <!-- Меню для планшетів і десктопів -->
      <div class="menu menu-desktop">
        <div class="menu-header">
          <span class="menu-title"></span>
        </div>
        <nav class="navigation">
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="#about" class="navigation-link">About me</a>
            </li>
            <li class="navigation-item">
              <a href="#benefits" class="navigation-link">Benefits</a>
            </li>
            <li class="navigation-item">
              <a href="#projects" class="navigation-link">Projects</a>
            </li>
            <li class="navigation-item">
              <a href="#faq" class="navigation-link">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="menu-overlay"></div>
    </div>
  </header>
</section>
