<section id="projects" class="container">
  <div class="projects">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper projects-swiper">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide projects-item">
          <div class="projects-slide">
            <div class="projects-slide-info">
              <ul class="projects-slide-info-tech-list">
                <li class="projects-slide-info-tech-item"><p>#react</p></li>
                <li class="projects-slide-info-tech-item"><p>#js</p></li>
                <li class="projects-slide-info-tech-item"><p>#node js</p></li>
                <li class="projects-slide-info-tech-item"><p>#git</p></li>
              </ul>
              <h3 class="projects-slide-info-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-wrapper-link">
                <a
                  class="projects-link"
                  href="https://github.com/Nevskiy911/dark-coders-22"
                  aria-label="Watch our project"
                  target="_blank"
                  rel="noopener noreferrer"
                  >See project</a
                >
              </div>
            </div>
            <div class="projects-slide-img">
              <picture>
                <source
                  srcset="
                    /img/projects/project-read-desk-1x.webp 1x,
                    /img/projects/project-read-desk-2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    /img/projects/project-read-tab-1x.webp 1x,
                    /img/projects/project-read-tab-2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/projects/project-read-mob-1x.webp 1x,
                    /img/projects/project-read-mob-2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="projects-img"
                  src="/img/projects/project-read-mob-1x.webp"
                  alt="phone screen with a library of books"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide projects-item">
          <div class="projects-slide">
            <div class="projects-slide-info">
              <ul class="projects-slide-info-tech-list">
                <li class="projects-slide-info-tech-item"><p>#react</p></li>
                <li class="projects-slide-info-tech-item"><p>#js</p></li>
                <li class="projects-slide-info-tech-item"><p>#node js</p></li>
                <li class="projects-slide-info-tech-item"><p>#git</p></li>
              </ul>
              <h3 class="projects-slide-info-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-wrapper-link">
                <a
                  class="projects-link"
                  href="https://nevskiy911.github.io/dark-coders-22/"
                  aria-label="Watch our project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="projects-slide-img">
              <picture>
                <source
                  srcset="
                    /img/projects/project-dog-desk-1x.webp 1x,
                    /img/projects/project-dog-desk-2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    /img/projects/project-dog-tab-1x.webp 1x,
                    /img/projects/project-dog-tab-2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/projects/project-dog-mob-1x.webp 1x,
                    /img/projects/project-dog-mob-2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="projects-img"
                  src="/img/projects/project-dog-mob-1x.webp"
                  alt="man dog and woman"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide projects-item">
          <div class="projects-slide">
            <div class="projects-slide-info">
              <ul class="projects-slide-info-tech-list">
                <li class="projects-slide-info-tech-item"><p>#react</p></li>
                <li class="projects-slide-info-tech-item"><p>#js</p></li>
                <li class="projects-slide-info-tech-item"><p>#node js</p></li>
                <li class="projects-slide-info-tech-item"><p>#git</p></li>
              </ul>
              <h3 class="projects-slide-info-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-wrapper-link">
                <a
                  class="projects-link"
                  href="https://nevskiy911.github.io/dark-coders-22/"
                  aria-label="Watch our project"
                  target="_blank"
                  >See project</a
                >
              </div>
            </div>
            <div class="projects-slide-img">
              <picture>
                <source
                  srcset="
                    /img/projects/project-people-desk-1x.webp 1x,
                    /img/projects/project-people-desk-2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    /img/projects/project-people-tab-1x.webp 1x,
                    /img/projects/project-people-tab-2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    /img/projects/project-people-mob-1x.webp 1x,
                    /img/projects/project-people-mob-2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="projects-img"
                  src="/img/projects/project-people-mob-1x.webp"
                  alt="a guy and a girl looking at dictionaries"
                  width="311"
                  height="195"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="projects-btn-wrapper">
      <button
        type="button"
        class="projects-swiper-button-prev"
        aria-label="button previous"
      >
        <svg class="projects-icon-btn" width="24" height="24">
          <use class="" href="img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button
        type="button"
        class="projects-swiper-button-next"
        aria-label="button next"
      >
        <svg class="projects-icon-btn" width="24" height="24">
          <use class="" href="img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
