.reviews {
  padding: 64px 16px;
}

.reviews-header {
  margin-bottom: 32px;
}

.swiper-reviews {
  position: relative;
  overflow: hidden;
  display: flex;
}

.swiper-wrapper-reviews {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 32px;
}

.swiper-placeholder {
  font-size: 32px;
  margin: 0 auto;
}

.reviews-card {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
}

.reviews-img {
  border-radius: 10px;
  margin-bottom: 32px;
  width: 48px;
}

.reviews-title {
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  margin-bottom: 8px;
}

.btn-wrapper-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.reviews-btn-prev,
.reviews-btn-next {
  border: 1px solid rgba(250, 250, 250, 0.6);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: #1c1d20;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-btn-prev.swiper-button-disabled,
.reviews-btn-next.swiper-button-disabled {
  opacity: 0.25;
  cursor: auto;
  pointer-events: none;
}

.reviews-icon-btn {
  stroke: rgba(250, 250, 250, 0.6);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-btn-prev:hover,
.reviews-btn-next:hover {
  border-color: #fafafa;

  .reviews-icon-btn {
    stroke: #fafafa;
  }
}

.hidden-btn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .reviews {
    padding: 96px 32px;
  }

  .btn-wrapper-reviews {
    gap: 20px;
  }

  .reviews-btn-prev,
  .reviews-btn-next {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .reviews-icon-btn {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .reviews {
    padding: 164px 32px;
  }
}
